java/.metadata/.lock
java/.metadata/.mylyn/.taskListIndex/segments.gen
java/.metadata/.mylyn/.taskListIndex/segments_1
java/.metadata/.mylyn/repositories.xml.zip
java/.metadata/.mylyn/tasks.xml.zip
java/.metadata/.plugins/org.eclipse.core.resources/.history/26/20d7fd4b7f2500161d4ec3e9618bfe67
java/.metadata/.plugins/org.eclipse.core.resources/.projects/java_concurency_in_practice/.markers.snap
java/.metadata/.plugins/org.eclipse.core.resources/.projects/java_concurency_in_practice/.syncinfo.snap
java/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
java/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
java/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
java/.metadata/.plugins/org.eclipse.core.resources/0.snap
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
java/.metadata/.plugins/org.eclipse.jdt.core/1028199574.index
java/.metadata/.plugins/org.eclipse.jdt.core/1065832147.index
java/.metadata/.plugins/org.eclipse.jdt.core/1223569419.index
java/.metadata/.plugins/org.eclipse.jdt.core/1574318262.index
java/.metadata/.plugins/org.eclipse.jdt.core/1604200090.index
java/.metadata/.plugins/org.eclipse.jdt.core/1832949699.index
java/.metadata/.plugins/org.eclipse.jdt.core/1877021558.index
java/.metadata/.plugins/org.eclipse.jdt.core/1947431546.index
java/.metadata/.plugins/org.eclipse.jdt.core/2193799835.index
java/.metadata/.plugins/org.eclipse.jdt.core/2338776811.index
java/.metadata/.plugins/org.eclipse.jdt.core/2486087126.index
java/.metadata/.plugins/org.eclipse.jdt.core/2743915309.index
java/.metadata/.plugins/org.eclipse.jdt.core/3095963708.index
java/.metadata/.plugins/org.eclipse.jdt.core/3454125809.index
java/.metadata/.plugins/org.eclipse.jdt.core/3598813974.index
java/.metadata/.plugins/org.eclipse.jdt.core/3991718231.index
java/.metadata/.plugins/org.eclipse.jdt.core/4004133052.index
java/.metadata/.plugins/org.eclipse.jdt.core/828133061.index
java/.metadata/.plugins/org.eclipse.jdt.core/834584462.index
java/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
java/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
java/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
java/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
java/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
java/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
java/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
java/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
java/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
java/.metadata/version.ini
*.xmi
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
